<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title><%= title %></title>
  </head>
  <body class="bg-gray-900 text-gray-200">
    <!-- Include Navbar -->
    <% if (navbar) { %> <%- include('./partials/navbar') %> <% } %>

    <!-- Dynamic Page Content -->
    <main class="p-6"><%- include(body) %></main>
  </body>
</html>
