<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <!-- Include Navbar -->
    <% if (navbar) { %> <%- include('./partials/navbar') %> <% } %>

    <!-- Include Sidebar -->
    <% if (sidebar) { %> <%- include('./partials/sidebar') %> <% } %>

    <!-- Dynamic Page Content -->
    <main><%- body %></main>
  </body>
</html>
