<form action="/newFolder/<%= parentFolderId %>" method="post">
  <p>You are adding a new folder to <%= parentFolderName %></p>
  <div class="input-container">
    <label for="newName">Folder Name: </label>
    <input type="text" id="folderName" name="folderName" />
  </div>
  <button type="submit">Add New Folder</button>
</form>
